/* Import the color variables */
@import 'styles/colors.css';

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    background: var(--background-1);
    color: var(--text-black);
    overflow: hidden;
    position: relative; /* Make the body a relative container */
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1.4rem;
    text-rendering: optimizeLegibility;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Top bar styling */
#duckTopDiv {
    padding: 10px; /* Add padding to the top bar */
    background: var(--background-2); /* Background color */
    display: flex;
    justify-content: space-around; /* Space elements evenly */
    align-items: center;
}

#inventoryDiv,
#moneyDiv,
#priceDiv,
#ducksPerSecondDiv {
    display: flex;
    align-items: center;
}

#inventoryDiv,
#moneyDiv,
#priceDiv {
    margin-right: 20px; /* Add spacing between elements */
}

#duckInventory,
#duckMoney,
#duckPrice,
#ducksProduced {
    font-size: 14px; /* Set a smaller font size */
}

#inventoryCount,
#moneyCount,
#priceCount,
#ducksPerSecond {
    font-weight: bold;
    margin-left: 5px; /* Add spacing between labels and values */
}

#duckButtonDiv {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Make it at least the height of the viewport */
}

#duckButton {
    padding: 0; /* Remove padding */
    background: transparent; /* Make the button transparent */
    border: none; /* Remove borders */
    width: 200px; /* Set button width to 200px */
    height: 200px; /* Set button height to 200px */
    cursor: pointer;
    position: relative; /* Needed for pseudo-element */
    overflow: hidden; /* Hide overflowing animation */
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Add easing transition */
}

#duckImage {
    height: 100%;
    width: 100%;
    object-fit: contain;
    image-rendering: pixelated;
}

#duckButton:hover {
    transform: scale(1.05);
}

#duckButton:active {
    transform: scale(1.2);
}

/* Shop overlay styles */
#shopOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

#shopContent {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    overflow-y: auto;
}

#closeShopButton {
    display: block;
    margin-top: 10px;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#closeShopButton:hover {
    background: #2980b9;
}

#shopButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#shopButton:hover {
    background-color: #2980b9;
}

/* Style for the achievement container */
#achievement-container {
    position: fixed; /* You can change this based on your layout requirements */
    bottom: 20px;
    right: 0px;
    max-width: 300px; /* Adjust the maximum width as needed */
    z-index: 9999; /* Ensure it's above other content */
    overflow: hidden; /* Hide the overflowing achievements */
}
  
/* Style for individual achievement elements */
.achievement {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding-inline: 10px;
    border-radius: 5px 0px 0px 5px;
    transform: translateX(100%); /* Start offscreen on the right */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
  
/* Style for the achievement content */
.achievement-content {
    display: flex; /* Display image and text in a row */
    align-items: center; /* Vertically center content */
}
  
/* Style for the achievement image */
.achievement-image {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    margin-right: 10px; /* Spacing between image and text */
    object-fit: contain;
    image-rendering: pixelated;
}
  
/* Style for the title within achievement */
.achievement #achievement-title {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}
  
/* Style for the message within achievement */
.achievement #achievement-message {
    font-size: 12px;
}

/* Button styles */
#clearLS {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Additional styles for the button when hovering */
#clearLS:hover {
    background-color: #2980b9;
}
