:root {
    --primary-yellow: #FFD700; /* Classic rubber ducky yellow */
    --secondary-orange: #FF5733;
    --accent-green: #00FF00;
    --accent-blue: #0000FF;
    --accent-pink: #FF69B4;
    --accent-purple: #800080;
    --text-white: #FFFFFF;
    --text-black: #000000;
    --background-1: #9F9AED;
    --background-2: #8A83E9;
}